[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/superfluid-protocol-monorepo"]
	path = lib/superfluid-protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "lib/openzeppelin-contracts-v4.8"]
	path = lib/openzeppelin-contracts-v4.8
	url = https://github.com/OpenZeppelin/openzeppelin-contracts/tree/release-v4.8